:root {
  --font-color: #f4d02b;
  --border-color: #f4d02b;
  --background-color: #856da6;
}

/* #303030 */

#root{
  background: var(--background-color)
}

.App {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.results p {
  color: var(--font-color);
}

.box p {
  margin-top: 0;
}

a {
  border: 1px solid var(--border-color);
  border-radius: calc(24px * .88);
  line-height: 3rem;
  font-size: 16px;
  color: var(--font-color);
  padding: 0.5rem;
  text-decoration: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

a:hover {
  background-color: var(--font-color);
  color: var(--background-color);
}

a.link-large {
  font-size: 24px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.box {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid var(--border-color);
  border-radius: calc(24px * .88);
}

div.container-fluid {
  margin-top: 3rem;
}

img {
  width: 100%;
  max-height: 250px;
}
